absl-py
annotated-types
anyio
appnope
asttokens
attrs
backcall
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
dlib
dnspython
entrypoints
executing
face-recognition
face-recognition-models
fastapi
filelock
fire
flatbuffers
fonttools
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h11
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
jmespath
jupyter_client
jupyter_core
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
mpmath
nest-asyncio
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyasn1
pyasn1-modules
pybboxes
pycparser
pydantic
pydantic_core
Pygments
pymongo
pyparsing
python-dateutil
python-dotenv
python-magic
python-multipart
pytz
PyYAML
pyzmq
requests
requests-oauthlib
requests-toolbelt
roboflow
rsa
s3transfer
sahi
scipy
seaborn
shapely
six
smmap
sniffio
sounddevice
stack-data
starlette
supervision
sympy
tensorboard
tensorboard-data-server
termcolor
terminaltables
thop
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
urllib3
uvicorn
wcwidth
Werkzeug
yolov5
